* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e5e5e5;
}

.container {
  width: 90%;
  max-width: 900px;
  background: #1d1f23;
  color: #fff;
  border-radius: 20px;
  display: flex;
  padding: 40px;
  gap: 40px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.18);
}

/* LEFT SECTION */
.left-section {
  flex: 1;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  padding-right: 30px;

  display: flex;               /* enable flex */
    flex-direction: column;      /* stack items vertically */
    justify-content: center;     /* center vertically */
    align-items: center;         /* center horizontally */
}

.left-section .logo img {
  width: 70px;
  margin-bottom: 15px;
}

.brand {
  font-size: 26px;
  margin-bottom: 5px;
}

.tagline {
  font-size: 14px;
  opacity: 0.7;
}

/* RIGHT SECTION */
.right-section {
  flex: 2;
}

.right-section h2 {
  font-size: 28px;
  margin-bottom: 8px;
}

.subtitle {
  opacity: 0.7;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  font-size: 15px;
  background: #2a2c31;
  color: #fff;
}

.btn {
  width: 100%;
  padding: 14px;
  background: #23d4c9;
  border: none;
  border-radius: 8px;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  opacity: 0.9;
}

.back-link {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #8acbff;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}

.logo {
    font-size: 60px;
    color: #fff;
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 30px;
  }

  .left-section {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}
